.input-row {
    display: flex;
    
    .align-icon {
        font-size: 1.3rem;
        width: 2.0rem;
        margin-top: 1.3rem;
        text-align: center;
    }

    mat-form-field {
        flex-grow: 1;

        input {
            height: 1.5rem;
            border-bottom: 0;

            &:focus:not([readonly]) {
                box-shadow: none;
            }
        }
    }
}
