<nav class="navbar navbar-inverse navbar-toggleable-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <a href="#" class="navbar-brand">Kellen's URL Shortener</a>
        
        <div class="collapse navbar-collapse justify-content-end"  id="mainNavbar">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link">Login</a>
                
                <a href="#" class="nav-item nav-link">Sign Up</a>

            </div><!-- navbar-nav -->
        </div><!-- collapse -->
    </div><!-- container -->
</nav><!-- navbar -->
