<router-outlet></router-outlet>

<main>
    <ks-navbar title="Kellen's URL Shortener" color="#FF6600" [showLogin]="true"></ks-navbar>
    <ks-link-input></ks-link-input>
    <div id="body-triangle" class="z-depth-1"></div>

     <ks-link-table></ks-link-table> 

    <footer>
        <div id="footer-triangle" class=z-depth-1></div>
        <div id="footer-content" class="white-text page-footer">
            <div class="footer-copyright">
                © {{currentDate | date:'y'}} Copyright: <a routerLink="/" class="white-text">Kellen Schmidt</a>
            </div>
        </div>
    </footer>
</main>
