<router-outlet></router-outlet>

<main>
    <ks-navbar title="Kellen's URL Shortener" color="#FF6600" [showLogin]="true"></ks-navbar>
    <ks-link-input></ks-link-input>
    <div id="body-triangle" class="z-depth-1"></div>

     <ks-link-table></ks-link-table> 

    <footer>
        <div id="footer-triangle" class=z-depth-1></div>
        <div id="footer-content" class="text-white page-footer">
            <div class="footer-copyright copyright-text">
                © {{currentDate | date:'y'}} Copyright:
                <a routerLink="/" class="copyright-text">Kellen Schmidt</a>
                <span class="mx-2">&#124;</span>Version:
                <a href="https://hub.docker.com/r/kellenschmidt/interactive-resume-and-url-shortener/tags/" target="_blank" rel="noopener" class="copyright-text"> {{appVersion}}</a>
            </div>
        </div>
    </footer>
</main>
