<main>
    <ks-navbar></ks-navbar>
    <ks-link-input></ks-link-input>
    <div id="body-triangle" class="z-depth-1"></div>

    <ks-link-table></ks-link-table>

    <footer>
        <div id="footer-triangle" class=z-depth-1></div>
        <div id="footer-content" class="deep-orange white-text page-footer">
            <div class="footer-copyright">
                © 2017 Copyright: <a href="https://kellenschmidt.com" class="white-text"> KellenSchmidt.com </a>
            </div>
        </div>
    </footer>
</main>




