<main class="white-text">
    <div class="container">
        <div class="row">
            <h2 class="col-12">Shorten your links</h2>
        </div><!-- row -->
        <form (ngSubmit)="onSubmit()" #linkForm="ngForm" class="form-horizontal w-100">
            <div class="form-group">
                <div class="row">
                    <div class=" col-12 col-sm-8 col-md-9 col-lg-10">
                        <input type="url" [(ngModel)]="longUrl" class="form-control input-alternate white" placeholder="Your original URL here" name="longUrl" required>
                    </div><!-- col -->
                    <button type="submit" class="btn white col-offset-2 col-8 col-sm-4 col-md-3 col-lg-2" [disabled]="!linkForm.form.valid">Shorten URL</button>
                </div>
                
              
            </div><!-- form-group -->
            
        </form>
        
    </div><!-- containter -->
</main>