<div id="nav-wrapper" [style.backgroundColor]="color" [ngClass]="{'fixed-top': color==''}">
    <nav class="navbar navbar-expand navbar-dark container">
        <div class="navbar-brand d-none d-sm-flex">{{title}}</div>
        <div class="navbar-brand d-flex d-sm-none invisible">_</div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" id="apps-icon" [satPopoverAnchorFor]="appsPopover" (click)="appsPopover.toggle(); toggleMagicMargin()" [ngClass]="{'magic-margin': magicMargin && !showLogin}" mdbRippleRadius><i class="fas fa-th text-white" data-fa-transform="grow-7"></i></a>

                <sat-popover #appsPopover hasBackdrop horizontalAlign="center" verticalAlign="below">
                    <div id="apps-menu" class="row no-gutters text-center mx-0 arrow_box">
                        <a class="col-4" routerLink="/interactive-resume">
                            <img src="assets/ir-favicons/android-chrome-192x192.png">Interactive Resume
                        </a>
                        <a class="col-4" routerLink="/url-shortener">
                            <img src="assets/us-favicons/android-chrome-192x192.png">URL Shortener
                        </a>
                        <a class="col-4" [href]="dqcUrl">
                            <img src="assets/dqc-favicons/android-chrome-192x192.png" title="Approve by Kirill Ulitin from the Noun Project">Data Quality Checker
                        </a>
                        <!-- <a class="col-4 invisible">
                            <img src="assets/us-favicons/android-chrome-192x192.png">Spacing
                        </a> -->
                    </div>
                </sat-popover>
            </li>
            <li class="nav-item ml-3" *ngIf="!getEmailOfUser() && showLogin">
                <a class="nav-link waves-light" (click)="form.show(); loginTab = true" mdbRippleRadius>Login</a>
            </li>
            <li class="nav-item" *ngIf="!getEmailOfUser() && showLogin">
                <a class="nav-link waves-light" (click)="form.show(); loginTab = false" mdbRippleRadius>Sign Up</a> 
            </li>
            <li class="nav-item dropdown ml-4" dropdown *ngIf="getEmailOfUser() && showLogin" id="user-tab">
                <a mat-icon-button [matMenuTriggerFor]="menu">
                    <span>{{getNameOfUser()}}</span>
                    <h2 class="d-inline-block mb-0">
                        <i class="fas fa-user-circle ml-2"></i>
                    </h2>
                </a>
                <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false" class="mt-2">
                    <button mat-menu-item (click)="logout()">
                        <span>Logout</span>
                    </button>
                </mat-menu>
            </li>
        </ul>
    </nav>
</div>

<div mdbModal #form="mdb-modal" class="modal fade" id="loginRegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="new-tabs">
                <div class="modal-header primary-color text-white">
                    <nav class="nav nav-tabs">
                        <a class="nav-item nav-link waves-effect waves-light" [ngClass]="{'active': loginTab}" (click)="loginTab=true"><i class="fas fa-user mr-2"></i>Login</a>
                        <a class="nav-item nav-link waves-effect waves-light" [ngClass]="{'active': !loginTab}" (click)="loginTab=false"><i class="fas fa-user-plus mr-2"></i>Sign Up</a>
                    </nav>
                </div>
            </div>

            <div *ngIf="loginTab">
                <!--Body-->
                <div class="modal-body">
                    
                    <ks-login-form (onLogin)="form.hide()"></ks-login-form>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <div class="options text-center text-md-right mt-1">
                        <p>Not a member? <a class="link" (click)="loginTab=false">Sign Up.</a></p>
                        <!-- <p>Forgot <a href="#">Password?</a></p> -->
                    </div>
                    <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal" (click)="form.hide()" mdbRippleRadius>Close</button>
                </div>
            </div>

            <div *ngIf="!loginTab">
                <!--Body-->
                <div class="modal-body">

                    <ks-register-form (onRegister)="form.hide()"></ks-register-form>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <div class="options text-center text-md-right mt-1">
                        <p>Already have an account? <a class="link" (click)="loginTab=true">Log In.</a></p>
                    </div>
                    <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal" (click)="form.hide()" mdbRippleRadius>Close</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Subscription From-->
