<div id="nav-wrapper" [style.backgroundColor]="color" [ngClass]="{'fixed-top': color==''}">
    <mdb-navbar SideClass="navbar navbar-expand navbar-dark">
        <logo>
            <div class="logo navbar-brand d-none d-sm-flex">{{title}}</div>
            <div class="logo navbar-brand d-flex d-sm-none invisible">_</div>
        </logo>
        <links class="ml-auto">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link waves-light" id="apps-icon" [mdbPopover]="appsPopover" placement="bottom" (click)="togglePadding()" [ngClass]="{'magic-margin': padding && !showLogin}" mdbRippleRadius><i class="fa fa-th"></i></a>
                </li>
                <li class="nav-item ml-3" *ngIf="!authentication.currentUser.email && showLogin">
                    <a class="nav-link waves-light" (click)="form.show(); loginTab = true" mdbRippleRadius>Login</a>
                </li>
                <li class="nav-item" *ngIf="!authentication.currentUser.email && showLogin">
                    <a class="nav-link waves-light" (click)="form.show(); loginTab = false" mdbRippleRadius>Sign Up</a> 
                </li>
                <li class="nav-item dropdown ml-3" dropdown *ngIf="authentication.currentUser.email && showLogin" id="user-tab">
                    <a dropdownToggle mdbRippleRadius class="nav-link dropdown-toggle waves-light p-0" mdbRippleRadius>
                        <span>{{getNameOfUser()}}</span><h2 class="d-inline-block mb-0"><i class="fa fa-user-circle ml-2"></i></h2>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbRippleRadius (click)="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</div>

<ng-template #appsPopover>
    <div id="apps-menu" class="row text-center mx-0">
        <a class="col-4" routerLink="/interactive-resume">
            <img src="assets/favicons/favicon.ico" class="mb-2">
            Interactive Resume
        </a>
        <a class="col-4" routerLink="/url-shortener">
            <img src="assets/us-favicons/favicon.ico" class="mb-2">
            URL Shortener
        </a>
    </div>
</ng-template>

<div mdbModal #form="mdb-modal" class="modal fade" id="loginRegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="new-tabs">
                <div class="modal-header primary-color white-text">
                    <nav class="nav nav-tabs">
                        <a class="nav-item nav-link waves-effect waves-light" [ngClass]="{'active': loginTab}" (click)="loginTab=true"><i class="fa fa-user mr-2"></i>Login</a>
                        <a class="nav-item nav-link waves-effect waves-light" [ngClass]="{'active': !loginTab}" (click)="loginTab=false"><i class="fa fa-user-plus mr-2"></i>Sign Up</a>
                    </nav>
                </div>
            </div>

            <div *ngIf="loginTab">
                <!--Body-->
                <div class="modal-body">
                    
                    <ks-login-form (onLogin)="form.hide()"></ks-login-form>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <div class="options text-center text-md-right mt-1">
                        <p>Not a member? <a class="link" (click)="loginTab=false">Sign Up.</a></p>
                        <!-- <p>Forgot <a href="#">Password?</a></p> -->
                    </div>
                    <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal" (click)="form.hide()" mdbRippleRadius>Close</button>
                </div>
            </div>

            <div *ngIf="!loginTab">
                <!--Body-->
                <div class="modal-body">

                    <ks-register-form (onRegister)="form.hide()"></ks-register-form>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <div class="options text-center text-md-right mt-1">
                        <p>Already have an account? <a class="link" (click)="loginTab=true">Log In.</a></p>
                    </div>
                    <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal" (click)="form.hide()" mdbRippleRadius>Close</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Subscription From-->
