#nav-wrapper {

    #apps-icon {
        padding-top: .30rem;
        padding-bottom: .30rem;
        font-size: 1.4rem;
    }

    #user-tab {
        padding-top: .1rem;
    }

    .magic-margin {
        margin-right: 8.2rem;
    }
    
    @media (min-width: 1200px) {  
        .magic-margin {
            margin-right: 0rem;
        }
    }

    .nav-link span {
        vertical-align: super;
    }

    // Hide down arrow
    .dropdown-toggle::after {
        display: none;
    }

}

#loginRegisterModal {
    // Make modal scroll
    overflow: auto;

    .modal-footer a.link {
        color: #0275d8;
        text-decoration: none;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        &:hover {
            color: #0056b3;
        }
    }

    .new-tabs {
        display: flex;
    
        .nav-item {
            flex: 1 0;
        }
    
        .modal-header {
            padding: .7rem;
            width: 100%;
            align-items: inherit;
        }

        .nav-tabs,
        .nav-link,
        .nav-link:hover,
        .nav-link.active,
        .nav .nav-link {
            border: 0;
        }
    
        .nav-tabs .nav-link.active {
            background-color: rgba(255,255,255,.2);
            color: white;
        }
    }
}

#apps-menu {
    font-size: 0.73rem;

    a {
        padding-top: 10px + 1px;
        padding-bottom: 10px + 1px;
        padding-left: .7rem;
        padding-right: .7rem;
        color: black;

        &:hover {
            border: 1px solid lightgray;
            border-radius: 2px;
            padding-top: 10px + 0px;
            padding-bottom: 10px + 0px;
        }
    }
}
