.dialog-container {
    padding: 0rem;
}

h1 {
    font-size: 1.2rem;
}

md-dialog-content {
    font-size: 1rem;

}

button {
    font-size: .8rem;
}

/* Small devices (landscape phones, width: 576px and up) */
@media (min-width: 576px) {
}
 
/* Medium devices (tablets, width: 768px and up) */
@media (min-width: 768px) {
    .dialog-container {
        padding: .5rem;
    }

    h1 {
        font-size: 1.3rem;
    }

    md-dialog-content {
        font-size: 1.1rem;
    }

    button {
        font-size: .9rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}

/* Large devices (large tablets, width: 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (any laptop or desktop, width: 1200px and up) */
@media (min-width: 1200px) {  
}