<h1 class="mb-5" id="education-title">Education</h1>
<div class="row mb-5">
    <div class="col-12" id="education">
        <img class="img-fluid" src="https://res.cloudinary.com/kellenscloud/image/upload/v1500604832/c_scale,f_auto,q_auto/smu">
        <div class="row no-gutters text-center white-text">
            <div class="col-md-7 text-md-left mb-3 mb-md-0">
                <h4>Southern Methodist University</h4>
                <h5>Bobby B. Lyle School of Engineering</h5>
                <h5>Major: Computer Science</h5>
            </div><!-- col -->
            <div class="col-md-5 text-md-right float-right">
                <h5>Dallas, TX</h5>
                <h5>Grad Date: May 2019</h5>
                <h5>GPA: 3.85</h5>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- col -->
</div><!-- row -->