<div class="container">
    <div id="table-wrapper" class="z-depth-2">
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th class="col-9 col-md-6">Original URL</th>
                    <th class="hidden-sm-down col-md-2">Created</th>
                    <th class="col-3 col-md-3"><span class="hidden-sm-down">Short </span>URL<span class="hidden-md-up"> code</span></th>
                    <th class="hidden-sm-down col-md-1">Clicks</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                    <td class="col-9 col-md-6"><a href="#">https://www.codeply.com/go/zJLXypKZxL</a></td>
                    <td class="hidden-sm-down col-md-2">Jul 9, 2017</td>
                    <td class="col-3 col-md-3"><a href="#">kellenschmidt.com/hpy</a></td>
                    <td class="hidden-sm-down col-md-1">7</td>
                </tr>
                <tr class="row">
                    <td class="col-9 col-md-6"><a href="#">https://www.codeply.com/go/zJLXypKZxL</a></td>
                    <td class="hidden-sm-down col-md-2">Jul 9, 2017</td>
                    <td class="col-3 col-md-3"><a href="#">kellenschmidt.com/hpy</a></td>
                    <td class="hidden-sm-down col-md-1">7</td>
                </tr>
                <tr class="row">
                    <td class="col-9 col-md-6"><a href="#">https://www.codeply.com/go/zJLXypKZxL</a></td>
                    <td class="hidden-sm-down col-md-2">Jul 9, 2017</td>
                    <td class="col-3 col-md-3"><a href="#">kellenschmidt.com/hpy</a></td>
                    <td class="hidden-sm-down col-md-1">7</td>
                </tr>
                <tr class="row">
                    <td class="col-9 col-md-6"><a href="#">https://www.codeply.com/go/zJLXypKZxL</a></td>
                    <td class="hidden-sm-down col-md-2">Jul 9, 2017</td>
                    <td class="col-3 col-md-3"><a href="#">kellenschmidt.com/hpy</a></td>
                    <td class="hidden-sm-down col-md-1">7</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="row">
                    <td class="col-6 col-md-8"></td>
                    <td class="hidden-sm-down col-md-2">Rows per page: 10</td>
                    <td class="col-3 col-md-1">1-6 of 6</td>
                    <td class="col-3 col-md-1"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>