<h1 class="mb-5 pt-3">About Me</h1>
<div class="row mb-5">
  <div class="mx-auto mb-3 col-6 col-sm-4 col-md-3 col-lg-2">
    <img class="img-fluid rounded-circle z-depth-2 mb-2" src="https://res.cloudinary.com/kellenscloud/image/upload/v1502917050/c_scale,f_auto,q_auto/kellen">
  </div><!-- col -->
  <div class="col-md-9 col-lg-10 text-center text-md-left">
    <p class="lead"><strong>Kellen Schmidt</strong></p>
    <div class="mb-3">
      <a class="social-icon li-ic mr-2" href="https://linkedin.com/in/kellens" target="_blank" rel="noopener" mdTooltip="LinkedIn"><i class="fa fa-linkedin"></i></a>
      <a class="social-icon github-ic mr-2" href="https://github.com/kellenschmidt" target="_blank" rel="noopener" mdTooltip="GitHub"><i class="fa fa-github"></i></a>
      <a class="social-icon email-ic mr-2" href="mailto: kellenschmidt31@gmail.com" mdTooltip="Email"><i class="fa fa-envelope"></i></a>
      <a class="social-icon fb-ic mr-2" href="https://facebook.com/kellen.schmidt.5" target="_blank" rel="noopener" mdTooltip="Facebook"><i class="fa fa-facebook"></i></a>
      <a class="ig-ic mr-2" href="https://instagram.com/kellen_schmidt31" target="_blank" rel="noopener" mdTooltip="Instagram"><i class="social-icon fa fa-instagram"></i></a>
    </div>
    <p>I am a strong technical software developer with a passion for learning and an innate curiosity with technology. Intrigued by problem solving and working to find solutions to difficult questions, I am always actively seeking new ways to grow and be challenged. I am committed to producing innovative solutions to problems and am willing and excited to learn new technologies. I am a self-motivated learner as is evident by my multitude of awesome personal projects which this website serves to showcase.</p>
  </div><!-- col -->
</div><!-- row -->