// Colors for social icons
.li-ic, .li-ic:hover {
  color: #0077B5;
}
.github-ic, .github-ic:hover {
  color: black;
}
.email-ic, .email-ic:hover {
  color: #ea4335;
}
.fb-ic, .fb-ic:hover {
  color: #3b5998;
}
.ig-ic, .ig-ic:hover {
  color: #833ab4;
}

$normal-size: 125%;
$hover-size: 200%;

.full-size-icon {
  font-size: $hover-size;
  vertical-align: middle;
}

// Social media icons
.social-icon {
  font-size: $normal-size;
  vertical-align: middle;
  transition: font-size 0.15s;
  &:hover {
    font-size: $hover-size;
  }
  @media(max-width: 768px) {
    font-size: 160%;
  }
}

.name-title {
  font-size: 1.25rem;
  font-weight: 400;
}

.icon-bar-spacing {
  margin-bottom: .5rem;

  @media(max-width: 768px) {
    margin-bottom: .8rem;
  }
}
