// Colors for social icons
.li-ic, .li-ic:hover {
  color: #0077B5;
}
.github-ic, .github-ic:hover {
  color: black;
}
.email-ic, .email-ic:hover {
  color: #ea4335;
}
.fb-ic, .fb-ic:hover {
  color: #3b5998;
}
.ig-ic, .ig-ic:hover {
  color: #833ab4;
}

// Social media icons
.social-icon {
  font-size: 130%;
  line-height: 180%;
  transition: font-size 0.15s, line-height 0.15s; 
  &:hover {
    font-size: 180%;
    line-height: 130%;
  }
  @media(max-width: 768px) {
    font-size: 180%;
    line-height: 130%;
  }
}

p.lead {
  font-weight: 400;
}
