<div class="container-fluid h-100">
  <div class="row align-items-center h-100">
    <div #nameAndDescription class="rainbow-font offset-md-1 col-md-8" id="name-and-description" [style.opacity]="myNewOpacity" [style.padding-top]="myNewPaddingTop">
      <div id="name">Hey I'm <br class="d-xl-none">Kellen Schmidt</div>
      <div id="description">Full-stack web developer <br class="d-xl-none">extraordinaire</div>
    </div><!-- rainbow-font -->
    <div id="title-scroll-down" class="text-center w-100">
      <a href="#about-me" class="text-white h2">
        <span class="fa fa-chevron-down"></span>
      </a>
    </div>
  </div><!-- row -->
</div><!-- container -->