<!--Footer-->
<footer class="rainbow-background text-white pt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">It&#39;s been real</h5>
                <p>Thanks for visiting&#46; Learn more about me and check out my work at these links&#33;</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://res.cloudinary.com/kellenscloud/image/upload/Kellen_Schmidt_Resume.pdf" target="_blank" rel="noopener">Resume</a>
                    </li>
                    <li>
                        <a routerLink="/url-shortener">URL Shortener</a>
                    </li>
                    <li>
                        <a href="https://github.com/kellenschmidt" target="_blank" rel="noopener">GitHub</a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/kellens" target="_blank" rel="noopener">LinkedIn</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="text-center">
        <div class="container-fluid copyright">
            &#169; {{currentDate | date:'y'}} Copyright&#58;
            <a routerLink="/">Kellen Schmidt</a>
            <span class="mx-2">&#124;</span>Version&#58;
            <a href="https://hub.docker.com/r/kellenschmidt/interactive-resume-and-url-shortener/tags/" target="_blank" rel="noopener"> {{appVersion}}</a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
