<h1 id="courses" class="mt-5">Courses</h1>

<div class="row">
    <div class="col-12 text-center">
        <a class="icon-button" (click)="carouselRef.previousSlide()">
          <span class="rainbow-background"></span>
          <i class="fas fa-chevron-left rainbow-font" data-fa-transform="grow-2 left-1 down-1"></i>
        </a>
        <a class="icon-button" (click)="carouselRef.nextSlide()">
          <span class="rainbow-background"></span>
          <i class="fas fa-chevron-right rainbow-font" data-fa-transform="grow-2 right-1 down-1"></i>
        </a>
    </div>
</div>

<!--Carousel Wrapper-->
<mdb-carousel #carouselRef [animation]="'slide'" id="coursesCarousel">
  <div *ngFor="let courseGroup of courseGroups">
    <mdb-carousel-item>
      <div class="row">
        <div class="col-md-4" *ngFor="let index of [0,1,2]">
          <div class="card mb-3">
            <div class="card-block p-3">
              <h6>{{courseGroup[index].number}}</h6>
              <h2>
                {{courseGroup[index].name}}
                <div *ngFor="let lineBreak of courseGroup[index].line_breaks"><br></div>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </mdb-carousel-item>
  </div>
</mdb-carousel>
<!--/.Carousel Wrapper-->
