// Note: The card in each .row with the longest .modal-body content will have relative position,
// all other cards should be given absolute position and a bottom value to move their buttons to 
// the bottom of their cards (19px represents the approx padding bottom on the buttons)
// See _media.css for these width-specific modifications 
// #url-shortener-btn {
//   background-color: #FE993A;
// }
// #geodeals-btn {
//   background-color: #FD55CD;
// }
// #groceryquest-btn {
//   background-color: #905FFF;
// }
// #wikibooks-btn {
//   background-color: #398BFF;
// }
// #material-tip-calculator-btn {
//   background-color: #25DFB1; 
// }
// #robot-competition-btn {
//   background-color: #35A608;
// }

// External link icon
a.card-title {
  font-weight: 400;
  i {
    font-size: 65%
  }
}

/* Medium devices (tablets, width: 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  #url-shortener-btn,
  #wikibooks-btn,
  #material-tip-calculator-btn {
    position: absolute;
    bottom: 19px;
  }
}

/* Large devices (large tablets, width: 992px and up) */
@media (min-width: 992px) {
  #url-shortener-btn,
  #groceryquest-btn,
  #wikibooks-btn,
  #material-tip-calculator-btn {
    position: absolute;
    bottom: 19px;
  }
}

.card .card-body .modal-title {
  margin-bottom: 0;
}

.modal-body {
  p {
    margin-bottom: 1.5rem;
  }
  ul {
    margin: 0 2rem 1.5rem 2rem;
    li {
      list-style-type: disc;
    }
    ul {
      margin-bottom: 0;
    }
  }
}

.google-play-btn {
  height: 4rem;
}

.google-play-words {
  font-size: 0.6875rem;
  margin: 0 0 0 0.75rem;
  color: #636c72;
}