<div id="nav-wrapper">
    <mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark">
        <logo><a class="logo navbar-brand" href="#">{{title}}</a></logo>
        <links>
            <ul class="navbar-nav ml-auto" *ngIf="!authentication.currentUser.email">
                <li class="nav-item">
                    <a class="nav-link waves-light" (click)="form.show(); loginTab = true" mdbRippleRadius>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="form.show(); loginTab = false">Sign Up</a> 
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" *ngIf="authentication.currentUser.email">
                <li class="nav-item dropdown d-none d-sm-block" dropdown>
                    <a dropdownToggle mdbRippleRadius class="nav-link dropdown-toggle waves-light p-0" mdbRippleRadius>
                        <span>{{authentication.currentUser.name}}</span><h2 class="d-inline-block mb-0"><i class="fa fa-user-circle ml-2"></i></h2>
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbRippleRadius (click)="logout()">Logout</a>
                    </div>
                </li>
                <li class="nav-item d-list-item d-sm-none">
                    <span class="navbar-text white-text mt-1">
                        <i class="fa fa-user-circle mr-2"></i><b>{{authentication.currentUser.name}}</b>
                    </span>
                    <a class="nav-link waves-light ml-1" mdbRippleRadius (click)="logout()">Logout</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</div>

<div mdbModal #form="mdb-modal" class="modal fade" id="loginRegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="new-tabs">
                <div class="modal-header primary-color white-text">
                    <nav class="nav nav-tabs">
                        <a class="nav-item nav-link waves-effect waves-light" [ngClass]="{'active': loginTab}" (click)="loginTab=true"><i class="fa fa-user mr-2"></i>Login</a>
                        <a class="nav-item nav-link waves-effect waves-light" [ngClass]="{'active': !loginTab}" (click)="loginTab=false"><i class="fa fa-user-plus mr-2"></i>Sign Up</a>
                    </nav>
                </div>
            </div>

            <div *ngIf="loginTab">
                <!--Body-->
                <div class="modal-body">
                    
                    <ks-login-form (onLogin)="form.hide(); refreshTable()"></ks-login-form>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <div class="options text-center text-md-right mt-1">
                        <p>Not a member? <a class="link" (click)="loginTab=false">Sign Up.</a></p>
                        <!-- <p>Forgot <a href="#">Password?</a></p> -->
                    </div>
                    <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal" (click)="form.hide()" mdbRippleRadius>Close</button>
                </div>
            </div>

            <div *ngIf="!loginTab">
                <!--Body-->
                <div class="modal-body">

                    <ks-register-form (onRegister)="form.hide(); refreshTable()"></ks-register-form>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <div class="options text-center text-md-right mt-1">
                        <p>Already have an account? <a class="link" (click)="loginTab=true">Log In.</a></p>
                    </div>
                    <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal" (click)="form.hide()" mdbRippleRadius>Close</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Subscription From-->