#iePage {
  background-color: #14B8F7; // #47acfe;
  text-align: center;
  height: 100vh
}

img {
  margin-top: 30vh;
  width: 30vw;
}

#not-supported {
  color: white;
  font-size: 3rem;
  font-weight: 300;
  width: 100%;
  position: absolute;
  bottom: 16vh;
}
