.input-row {
    display: flex;
    
    .fa {
        font-size: 1.3rem;
        width: 1.4rem;
        padding-top: 1.4rem;
        text-align: center;
    }

    mat-input-container {
        flex-grow: 1;

        input {
            height: 1.5rem;
            border-bottom: 0;

            &:focus:not([readonly]) {
                box-shadow: none;
            }
        }
    }    
}

#password-input-row {
    margin-bottom: 2rem;
}

@media (min-width: 576px) {
    #password-input-row {
        margin-bottom: .5rem;
    }
     
}
