// @keyframes fadein {
//     from {
//         background-image: linear-gradient(45deg, orange 0%, darkorange 50%, red);
//         background-attachment: fixed,	fixed,	fixed;
//         background-position: top left,	center center,	center center;
//         background-size: auto,	cover,	cover;
//         overflow: hidden;
//     }
//     to {
//         background-image: url(/assets/overlay2.png), url(/assets/overlay3.svg), linear-gradient(45deg, orange 0%, darkorange 50%, red);
//         background-attachment: fixed,	fixed,	fixed;
//         background-position: top left,	center center,	center center;
//         background-size: auto,	cover,	cover;
//         overflow: hidden;
//     }
// }

#background {
    background-image: linear-gradient(45deg, orange 0%, darkorange 50%, red);
    background-attachment: fixed,	fixed,	fixed;
    background-position: top left,	center center,	center center;
    background-size: auto,	cover,	cover;
    overflow: hidden;
    // animation: fadein 2s;
    // animation-delay: 0.5s;
    // animation-fill-mode: forwards;
}