<div id="title-page-wallpaper">
  <!-- Backgound image fallback for iOS Safari -->
  <div id="background-fallback" [style.display]="iOSSafari ? 'inherit' : 'none'">
    <div id="background-fallback-image"></div>
  </div>

  <router-outlet></router-outlet>

  <ks-ir-navbar></ks-ir-navbar>
  <ks-title-page></ks-title-page>

  <main class="container px-5 py-5 z-depth-5">
    <ks-about-me></ks-about-me>
    <ks-education></ks-education>
    <ks-projects></ks-projects>
    <ks-work-experience></ks-work-experience>
    <ks-skills></ks-skills>
    <ks-courses></ks-courses>
    <ks-footer></ks-footer>
    
  </main>

</div>
