<div class="container">
    <div id="table-wrapper" class="z-depth-1">
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th class="col-9 col-md-5">Original URL</th>
                    <th class="hidden-sm-down col-md-2">Created</th>
                    <th class="col-3 col-md-4"><span class="hidden-sm-down">Short </span>URL<span class="hidden-md-up"> code</span></th>
                    <th class="hidden-sm-down col-md-1">Clicks</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" *ngFor="let linkRow of linkRows; let index = index;">
                    <td class="col-9 col-md-5"><a href="#">{{linkRow.long_url}}</a></td>
                    <td class="hidden-sm-down col-md-2">{{linkRow.date_created | date:'mediumDate'}}</td>
                    <td class="col-3 col-md-4"><a href="#"><span class="hidden-sm-down">https://kellenschmidt.com/</span>{{linkRow.code}}</a></td>
                    <td class="hidden-sm-down col-md-1">{{linkRow.count}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="row">
                    <td class="col-6 col-md-8"></td>
                    <td class="hidden-sm-down col-md-2">Rows per page: 10</td>
                    <td class="col-3 col-md-1">1-6 of 6</td>
                    <td class="col-3 col-md-1"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>