th, tfoot td {
 background: #F5F5F5;
 font-size: 0.75rem;
 font-weight: 500;
 color: rgba(0,0,0,0.54);
 border-top: 0;
}

tbody td {
 font-size: 0.8125rem;
 border-top: 1px solid rgba(0, 0, 0, 0.117647);
 border-bottom: 1px solid rgba(0, 0, 0, 0.117647);
}

a, a:hover{
 color: #039be5;
}

td:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#table-wrapper {
    padding: 0 15px;
}

.container {
    padding-bottom: 18rem;
}

.copy-btn {
    visibility: hidden;
    margin-left: .2rem;
    padding: .35rem .465rem;
    border-radius: 1rem;
    transition: background-color .1s linear;

    &:hover {
    background-color: #dddddd;
    }
    
}

tr:hover {
    .copy-btn {
        visibility: inherit;
    }
}