<div class="container">
    <div id="table-wrapper" class="z-depth-1">
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th class="col-9 col-md-5 col-lg-6">Original URL</th>
                    <th class="hidden-sm-down col-md-2">Created</th>
                    <th class="col-3 col-md-4 col-lg-3"><span class="hidden-sm-down">Short </span>URL<span class="hidden-md-up"> code</span></th>
                    <th class="hidden-sm-down col-md-1">Clicks</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row" *ngFor="let linkRow of linkRows; let index = index;">
                    <td class="col-9 col-md-5 col-lg-6"><a href="#">{{linkRow.long_url}}</a></td>
                    <td class="hidden-sm-down col-md-2">{{linkRow.date_created | date:'mediumDate'}}</td>
                    <td class="col-3 col-md-4 col-lg-3">
                        <a routerLink="/{{linkRow.code}}" #shortUrl><span class="hidden-sm-down">kellenschmidt.com/</span>{{linkRow.code}}</a>
                        <a class="copy-btn" (click)="this.copy(linkRow.code)" mdTooltip="Copy short URL"><i class="fa fa-clone"></i></a>
                    </td>
                    <td class="hidden-sm-down col-md-1">
                        {{linkRow.count}}
                        <a md-icon-button [mdMenuTriggerFor]="menu" class="menu-btn float-right">
                            <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <md-menu #menu="mdMenu">
                            <button md-menu-item (click)="hideLink(linkRow.code)">
                                <span>Hide URL</span>
                                <i class="fa fa-eye-slash ml-2"></i>
                            </button>
                        </md-menu>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="row">
                    <td class="col-6 col-md-8"></td>
                    <td class="hidden-sm-down col-md-2">Rows per page: 10</td>
                    <td class="col-3 col-md-1">1-6 of 6</td>
                    <td class="col-3 col-md-1"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>