/* You can add global styles to this file, and also import other style files */

body {
  font-weight: 400;
  margin: 0;
}

// Color changing text animation
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
  
// Fade rainbow of colors for background
.rainbow-background {
  background-image: linear-gradient(135deg,#f35626,#feab3a); 
  animation: hue 30s infinite linear;
}

// Fade rainbow of colors on text
.rainbow-font {
  color: #f35626;
  background-image: linear-gradient(135deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  animation: hue 30s infinite linear;
}

//  Bouncing annimation for down arrow
@keyframes bouncing {
  0% {bottom: 0.5rem;}
  50% {bottom: 1.25rem;}
  100% {bottom: 0.5rem;}
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 300;
}
